/* Set footer styles */
footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-color: #000000; Complementary color */
  color: #000; /* White text color for better legibility */
  text-align: center;
  padding: 0.5rem;
  z-index: 1200;
  /* box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); Subtle box-shadow */
}

footer p {
  font-size: 0.8rem; /* Smaller font size */
  margin-bottom: 0;
  font-family: 'Roboto', sans-serif; /* Easy-to-read font */
}
