/* Header styles */
header {
  background-color: rgba(226, 158, 0, 0.5);
  color:black;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0 1rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
  color: black; /* Add a color for hover effect */
  transform: translateY(-2px); /* Move the link slightly upwards */
}

nav a::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #000000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  z-index: -1;
}

nav a:hover::before {
  transform: scaleX(1);
}
