/* Mobile Styles */

/* Add a mobile-specific header style */
/* header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
} */

/* Adjust the nav links to display vertically */
nav a {
  display: block;
  padding: 0.5rem;
  border-bottom: 1px solid #fff;
}

/* Add padding to the main content area */
/* main {
  padding: 1rem;
} */

/* Adjust the size of the avatar */
.card img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

/* Adjust the size of the social icons */
.card a {
  font-size: 1.5rem;
  margin-right: 1rem;
}

/* Media Queries */

/* Adjust layout and styling for screens 768px and larger */
@media (min-width: 768px) {
  /* Add a desktop-specific header style */
  /* header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;
  } */

  /* Adjust the nav links to display horizontally */
  nav a {
      display: inline-block;
      padding: 0.5rem 1rem;
      border-bottom: none;
  }

  /* Add a desktop-specific style for the main content area */
  main {
      display: flex;
      justify-content: space-evenly;
  }

  /* Add a desktop-specific style for the card */
  .card {
      flex-basis: 30%;
     
  }
}

.card {
  margin: 50px auto;
  max-width: 800px;
  width: 90%;
}

.card img{
  padding-bottom: 120px;
}

@media only screen and (max-width: 600px) {
  .card {
    max-width: none;
    width: 100%;
  }
}



