/* reset.css */
html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }


  blockquote {
    margin: 2rem 0;
    padding: 1rem;
    background-color: #f2f2f2;
    border-left: 5px solid #0066CC;
    font: italic bold 16px/1.5 sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
  }
  
  .card {   
    margin: 60px auto;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    /* margin-bottom: 4rem; */
    width: calc(50% - 2rem);
  }
  
   /* Set footer styles */
   footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2rem;
    z-index: 1200;
  }
  
  footer p {
    font-size: 1rem;
    margin-bottom: 0;
  }
  
  .active {
    font-weight: bold;
    color: #0066CC;
    text-decoration: underline;
  }
  /* style.css */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }

  .sidebar {
    background-color: #f7cac9;
    padding: 20px;
    border-radius: 10px;
  }
  
  .sidebar-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-list li {
    margin-bottom: 10px;
  }
  
  .sidebar-list li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
    font-size: 1rem;
    line-height: 1;
  }
  
  .sidebar-list li a:hover {
    color: #0066CC;
  }
  

  header {
    background-color: #0066CC;
    color: #fff;
    padding: 1rem;
    position: fixed;
    top: 0;
    left:0 ;
    right: 0;
    z-index: 999;
  }
  
  
  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
  }
  
  nav a:hover {
    color: #dce1f6;
    text-decoration: none;
    /* border-bottom: 2px solid #aeadad;
    transition: border-bottom 0.3s ease-in-out; */
  }
  
  
  
  main {
    max-width: 1200px;
    margin: 30px auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }
  
  .blog-post-card {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-bottom: 4rem;
    width: calc(33.3333% - 2rem);
  }
  
  .blog-post-card h2 {
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }
  
  .blog-post-card p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.6rem;
  }
  
  .blog-post-card ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .blog-post-card li {
    margin-bottom: 1rem;
  }
  
  .blog-post-card a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
    font-size: 1rem;
    line-height: 1;
    display: block;
    position: relative;
    padding-left: 30px;
  }
  
  .blog-post-card a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #0066CC;
    border-radius: 50%;
  }
  
  .blog-post-card a:hover {
    color: #0066CC;
  }

  #cool-stuff {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50px;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
  }
  
  #cool-stuff h2 {
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }
  
  #cool-stuff p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.6rem;
  }
  
  #cool-stuff ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #cool-stuff li {
    margin-bottom: 1rem;
  }
  
  #cool-stuff a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
    font-size: 0.8rem;
    line-height: 1;
    display: block;
    position: relative;
    padding-left: 30px;
  }
  
  #cool-stuff a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #0066CC;
    border-radius: 50%;
  }
  
  #cool-stuff a:hover {
    color: #0066CC;
  }
  
  
  
  @media only screen and (max-width: 768px) {
    .blog-post-card {
      width: 100%;
      margin-bottom: 2rem;
    }
    
    .blog-post-card ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    
    .blog-post-card li {
      margin: 1rem;
    }
    
    .blog-post-card a {
      padding-left: 25px;
    }
  
    #cool-stuff {
      display: none;
    }
    
    #cool-stuff.show {
      display: block;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .blog-post-card {
      margin-top: 0;
    }
  }

  @media only screen and (max-width: 768px) {
    .toggle-container {
      display: flex;
      align-items: center;
    }
  
    #toggle-btn {
      display: block;
    }
  
    #cool-stuff {
      display: none;
      background-color: transparent;
      border: none;
      color: #fff;
      font-size: 1.2rem;
      cursor: pointer;
    }
  
    #cool-stuff.show {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 250px;
      z-index: -1;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      padding: 2rem;
    }
  }
  
  @media only screen and (min-width: 768px) {
    #toggle-btn {
      display: none;
    }
  }


  #cool-stuff {
    display: block;
  }
  
  #cool-stuff.show {
    display: block;
  }
  